@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "Monda", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
   
    background: url('../assets/icon_images/cloudy_weather.jpg.jpg') no-repeat center center fixed;
    background-size: cover; 
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.fade-in {
    opacity: 1;
}
.navbar{
    background: rgba(255, 255, 255, 0.311); /* Light transparent background */
    backdrop-filter: blur(20px); /* Blur effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
}
.navbar .container-fluid .navbar-brand img{
    height: 30px;

}

/* blur effect */
#title-current,
.card
{
    background: rgba(255, 255, 255, 0.311); /* Light transparent background */
    backdrop-filter: blur(20px); /* Blur effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* position  */
.main{
    position:relative;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#title-current{
    position :relative;
    width: 90%;
    min-height: 200px;
    margin-top: 20px;
}
.action-buttons {
    margin: 1rem;
    gap: 0.5rem;
}
#loading .spinner-border{
    height:10rem;
    width:10rem;
}


/* display */
#settings-container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    margin-top: 0;
  }

#settings-container.show {
    max-height: 200px;
    opacity: 1;
    margin-top: 1rem;
}
main,section{
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#weather-forecast{
    display: flex;
    flex-direction: column;
}
#title-current .card-body{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#title-current .card-body .detail .current-weather-detail{
    display: flex;
    justify-content: space-between;

}
#title-current .card-body .card-title{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.weather-forecast-card .card-body .card-text{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-forecast-card .card-body{
    text-align: center;
}
.weather-forecast-card .card-body .card-text .time{
    align-items: center;
}



/* font */
#title-current .card-body .card-title h4 {
    font-size: xx-large;
}
#title-current .card-body .card-title h2{
    font-size: 40px;
}
#title-current .card-body .detail{
    display: block;
}
.weather-forecast-card .card-body .card-text .time p,
#title-current .card-body .current-weather-detail .forecast-day p{
    font-size: large;
    font-weight: 20px;
}


/* size (height, width) */
.weather-forecast-card{
    width: 90%;
    z-index: 1;
    transition: 1s;
}

#weather_info img{
    height:25px;
}
.weather-forecast-card:hover {
    background: rgba(255, 255, 255, 0.2); /* Light transparent background */
    backdrop-filter: blur(50px); 
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 30px rgba(215, 198, 198, 0.4);
    z-index: 100;
    transition: 1s;
}

@media (max-width: 600px) {
    #title-current .card-body .detail .current-weather-detail,
    #weather-forecast section .weather-forecast-card .card-body .card-text{
        display: block;
    }
    #title-current .card-body .detail .current-weather-detail .forecast-day,
    #weather-forecast section .weather-forecast-card .card-body .card-text .time{
        display: flex;
        justify-content: space-between;
    } 
    #title-current .card-body .card-title{
        flex-direction: column;
    }
    #title-current .card-body .card-title img{
        order:2;
    }
    #title-current .card-body .card-title h2{
        order:3;
    }
    #title-current .card-body .card-title h4{
        order:1;
    }
}